[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install = "*"
django = "*"
mysqlclient = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-webpack-loader = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
